# Development / test dependencies. Install on top of requirements.txt:
#   pip install -r requirements.txt -r requirements-dev.txt
-r requirements.txt

pytest~=9.0
pytest-asyncio~=1.4
respx~=0.23
ruff~=0.15
black~=26.5
mypy~=2.1
